@model IEnumerable<Models.MessageView>

@{
    ViewData["Title"] = "Chat";
}

<h1>@ViewBag.Receptor</h1>
<hr />
@using (Html.BeginForm("Search",
                   "Chat",
                   FormMethod.Post,
                   new { enctype = "multipart/form-data" }))
{
    <p>Buscar mensajes</p>
    <input type="text" class="form-control" name="text" placeholder="Escribe la palabra clave" />
    <button type="submit">Buscar</button>
}
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mensaje)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mensaje)
                </td>
            </tr>
        }
    </tbody>
</table>
@using (Html.BeginForm("Chat",
                   "Chat",
                   FormMethod.Post,
                   new { enctype = "multipart/form-data" }))
{
    <input type="text" class="form-control" name="message" placeholder="Escribe un mensaje:" /> <button type="submit">Enviar</button>
}
<hr />
<input type="button" value="Refrescar" onclick="location.href='@Url.Action("Chat", "Chat")'" />
<hr />
@Html.ActionLink("Volver a la página principal", "Users", "Chat")

