@model IEnumerable<Models.MessageView>

@{
    ViewData["Title"] = "Search";
}

<h1>Resultados de la búsqueda: @ViewBag.Word</h1>
<p>Cantidad de resultados: @ViewBag.Results</p>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mensaje)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mensaje)
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Volver al chat", "Chat", "Chat")
